/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendorx
/xvendor
/xvendor2x
.env.backup
/data
/s3_data
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
public/assets/aichat/
composer.lock
/framework
/logs
public/assets/chatbotsetting/
public/images/*
public/assets/userfiles/1/userfiles/imagehistory/*
public/tmp/*
/ckeditor5
public/users
public/usersForFileManager/*
